<!doctype html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %} COD Dice Roller {% endblock %}</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		{% endblock %}
	</head>
	<body>
		<div class = "content">
		{% block content %}
			<form action="recieve_pool" method="POST">
				<div class = "pool-input">Pool: <input class = "pool" type="number" name="pool" min="0" value = "{{request.form['pool'] if request.form['pool'] else 0}}"><br>
				</div>
				<div class = "again-input">
					<input type="radio" name="again" value="10" checked> 10-again<br>
					<input type="radio" name="again" value="9"> 9-again<br>
					<input type="radio" name="again" value="8"> 8-again<br>
				</div>
				<div class = "submit-input">
					<input class = "submit" type="submit" name="Submit" value="submit">
				</div>
			</form>

		{% endblock %}
		</div>
	</body>
</html>